body{
  background-color: #003300;
}

.master-container {
  display: grid;
  gap: 20px;
  padding: 20px;
  max-width: 500px;
  margin: 15% auto;
}

.card {
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.products {
  margin-bottom: 20px;
}

.product {
  display: grid;
  grid-template-columns: 60px 1fr auto;
  align-items: center;
  margin-bottom: 15px;
}

.product img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.product span {
  font-size: 14px;
  font-weight: bold;
}

.product .quantity {
  display: flex;
  align-items: center;
}

.product .quantity button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #ddd;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.product .quantity button:hover {
  background-color: #bbb;
}

.product .quantity label {
  margin: 0 10px;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}

.checkout-btn {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #28a745;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.checkout-btn:hover {
  background-color: #218838;
}